.playerHand {

}

.playerHand.currentPlayer .nameLabel {
    -fx-border-color: gold;
    -fx-border-style: dotted;
    -fx-border-width: 3px;
    -fx-border-radius: 4px;
}

.playerHand .playerTypeLabel {
    -fx-background-image: url('../images/chip.png');
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-text-fill: #000000;
}